/* login.css */
html {
    height: 100%;
    margin: 0;
    padding: 20px 0;
    background-image: url(../assets/fundo.svg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: start;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
    align-items: center;
}

h1 {
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}

.conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin: 30px 0;
}