.logs {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-image: url(../assets/fundo.svg);
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.conteudo-logs {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0 30px 0;
}