.notFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../assets/fundo.svg);
  }
  
  .notFoundContent {
    background-color: #202222;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .notFoundContent h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .notFoundContent p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .backButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #393849;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .backButton:hover {
    background-color: #34a7ec;
  }
  