@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css ou global.css */

html,
body,
#root {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

body{
  @apply text-gray-900 font-sans;
}

/* Configuração das fontes: */
@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoBlack.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoBlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoBold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoThin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/LatoThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}